.navlink {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  font-size: 14px;

  &:hover {
    background: rgb(238,238,238);
  }
  &_title {
    flex: 1 1 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &_count {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 10px;
    max-width: 40px;
    color: rgba(0, 0, 0, .3);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 5px;
  }
}