.button {
  font-size: 12px;
  padding: 10px 12px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;

  &_orange {
    color: #fff;
    background: #db4c3f;
  }

  &_grey {
    color: #444;
    background: #f5f5f5;
  }
}